{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookKing</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- CUSTOM CSS-->
    <link rel="stylesheet" href="{% static 'style/layout.css' %}">
    <link rel="stylesheet" href="{% static 'style/booklist.css' %}">

    <!-- CUSTOM JS -->
    <script src="{% static 'js/layout.js' %}"></script>

    {% block extras %}

    {% endblock %}
</head>
<body>

    <form id="remove" action="/clear/" method="POST" style="display: none">
        {% csrf_token %}
    </form>
    
    <div id="wrapper" class="">
        <div class="overlay" style="display: none;">
            <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
                <ul class="nav sidebar-nav">
                    <li class="slide">
                        <a href="/">Home</a>
                    </li>
                    <li class="slide">
                        <a href="/new/">Add</a>
                    </li>
                    <li>
                        <a href="/search/">Search</a>
                    </li>
                    <li>
                        <a href="#" onclick="document.getElementById('remove').submit();return false;">Clear database</a>
                    </li>
                    <p class="spacer">
                        Categories
                    </p>
                    {% for category in categories %}
                        {% if category.book_set.count > 1 %}
                            <li>
                                <a href="/category/{{category.pk}}/"> {{category.name}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <p class="spacer">
                        Authors
                    </p>
                    {% for author in authors %}
                        {% if author.book_set.count > 1 %}
                            <li>
                                <a href="/author/{{author.pk}}/"> {{author.name}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div id="page-content-wrapper">
            <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
            </button>

            <div class="container">
                {% block main %}

                {% endblock %}
            </div>
        </div>

    </div>
</body>
</html>